<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611212472328-8rfp8qran67rjecgo76nfmt04pl6o5r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611212472328-8rfp8qran67rjecgo76nfmt04pl6o5r5</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Q0CuCCCIofGf_AQ_F30Xa6x3JKyVYJY</string>
	<key>GCM_SENDER_ID</key>
	<string>611212472328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rjs.YourTurn</string>
	<key>PROJECT_ID</key>
	<string>your-turn-9a683</string>
	<key>STORAGE_BUCKET</key>
	<string>your-turn-9a683.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611212472328:ios:b5d01ac8c2042ecb9ba1bd</string>
</dict>
</plist>